.loginDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  width:100%;
  height: 100%;
  background-image: url("../images/login5.jpg");
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.form-signin {
    width: 330px;
    padding: 15px;
    margin: 80px auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 40px;
}
.form-signin .checkbox {
    margin-left: 5px;
    font-weight: normal;
    color: #4a576a;
    font-size: 13px;
    font-weight: normal;
}
.form-signin .form-control {
    margin:5px;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#inputVerify{
    width : 150px;
    /*float : left;*/
}
#verImages {
    margin-left: 180px; 
    width: 120px;
}
.remember {
    width: 150px;
    float: left;
    font-size: 12px;
}
.autoSubmit{
    width: 140px;
    float: left;
    text-align: right;
}
.msgError{
    margin-top : 10px;
    font-size:10px;
    color : red;
    text-align: center;
}